---
apiVersion: v1alpha1
kind: VLANConfig
name: {{ talos_interface }}.{{ talos_vlan_id }}
vlanID: {{ talos_vlan_id }}
vlanMode: 802.1q
parent: {{ talos_interface }}
up: true
addresses:
    - address: {{ talos_vlan_address }}